# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [3]:
# Your code here
df['stars_squared'] = df['stars'].apply(lambda x: x**2)

## Dates
Select the month from the date string using a lambda function.

In [7]:
# Your code here
df['month'] = df['date'].apply(lambda x:'month')

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [10]:
# Your code here
df['word_count'] = df['review_id'].map(lambda x: len(x.split())).mean
df['word_count']

1       <bound method Series.mean of 1       1\n2     ...
2       <bound method Series.mean of 1       1\n2     ...
4       <bound method Series.mean of 1       1\n2     ...
5       <bound method Series.mean of 1       1\n2     ...
10      <bound method Series.mean of 1       1\n2     ...
                              ...
689     <bound method Series.mean of 1       1\n2     ...
4874    <bound method Series.mean of 1       1\n2     ...
564     <bound method Series.mean of 1       1\n2     ...
3458    <bound method Series.mean of 1       1\n2     ...
4206    <bound method Series.mean of 1       1\n2     ...
Name: word_count, Length: 2610, dtype: object

## Create a new column for the number of words in the review

In [13]:
# Your code here
df['word_count']=df['review_id'].map(lambda x: len(x.split()))

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [16]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'stars_squared', 'month', 'word_count'],
      dtype='object')

In [18]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['Review_num_words'].map(lambda x: 'short' if x < 50  else 'Medium' if x< 80  else 'Long')

KeyError: 'Review_num_words'

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [22]:
# Your code here
print(df['date'].head())

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [25]:
# Your code here
df['date'] = df['date'].map(lambda x: x[8:10] + '-' + x[5:7] + '-' + x[0:4])
df['date']

1       13-11-2012
2       23-10-2014
4       05-09-2014
5       25-02-2011
10      15-06-2016
           ...
689     02-06-2013
4874    14-08-2016
564     14-06-2016
3458    02-10-2013
4206    15-08-2016
Name: date, Length: 2610, dtype: object

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.